@use "../utils/mixins" as m;

.logo {
  display: inline-block;
  padding: 8px 6px;
  @include m.font(24px, 400, 29px);
  color: var(--white-text-color);
  border: 3px solid var(--white-text-color);

  border-radius: 12px 0;
}
