:root {
  --primary-text-color: #333333;
  --second-text-color: #f5d6ab;
  --white-text-color: #fff;
  --background-color: #fffaf2;
  --primary-font: "Libre Franklin", sans-serif;
}

// $colors: (
//   "primary": #fff,
// );

// @function getColor($get) {
//   @return map-get($colors, $key);
// }
