@use "../utils/mixins" as m;

.footer {
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--white-text-color);
  background: linear-gradient(
    324deg,
    var(--hover-color),
    var(--second-text-color)
  );
}

.footer-desc {
  @include m.font(13px, 400, 20px);
  text-align: center;
}
