@use "../utils/mixins" as m;

.footer {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: var(--background-color);
}

.footer-desc {
  @include m.font(13px, 400, 20px);
  text-align: center;
}
