@use "../utils/mixins" as m;

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--second-text-color);
}

.header-container {
  display: flex;
  align-items: flex-end;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list-link {
  @include m.font(18px, 700, 22px);
  color: var(--white-text-color);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
