@use "../utils/mixins" as m;

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
  .header-container {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 3rem;
  }

  .nav-list-link {
    position: relative;

    @include m.font(18px, 700, 22px);
    color: var(--white-text-color);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -2px;
      width: 100%;
      height: 3px;
      background-color: var(--hover-color);
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      @include m.transition(transform);
    }

    &:hover::before,
    &:focus::before {
      transform: translate(-50%, 0) scaleX(1);
    }
  }
}

//github icon
.github-corner-icon {
  fill: #000;
  color: #f5d6ab;
  position: absolute;
  top: 0;
  border: 0;
  left: 0;
  transform: scale(-1, 1);
  z-index: 9999;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 767.98px) {
  .github-corner {
    display: none;
  }
  // .github-corner:hover .octo-arm {
  //   animation: none;
  // }
  // .github-corner-icon {
  //   width: 80px;
  //   height: 80px;
  // }
  // .github-corner .octo-arm {
  //   animation: octocat-wave 560ms ease-in-out;
  // }
}

// .nav {
//   position: fixed;
//   z-index: 20;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   right: 0;
//   overflow: auto;
//   background-color: rgba($color: #fff, $alpha: 0.7);
// }

// .nav-list {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
