@use "../utils/mixins" as m;

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

.nav-list-link {
  position: relative;

  @include m.font(18px, 700, 22px);
  color: var(--white-text-color);

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: var(--hover-color);
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    @include m.transition(transform);
  }

  &:hover::before,
  &:focus::before {
    transform: translate(-50%, 0) scaleX(1);
  }
}
