@use "../utils/mixins" as m;

.hero {
  padding-top: 140px;
  padding-bottom: 140px;

  background-color: var(--background-color);
  color: var(--white-text-color);
  background-color: var(--second-text-color);
  background-image: linear-gradient(
      rgba(198, 108, 73, 0.3),
      rgba(198, 108, 73, 0.3)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 2.25rem;
  @include m.font(64px, 400, 78px);
}

.hero-subtitle {
  margin-bottom: 6.25rem;
  @include m.font(24px, 400, 29px);
}

.hero-link {
  @include m.font(18px, 400, 22px);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
