@use "../utils/mixins" as m;
.projects-list {
  display: grid;
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
}

.projects-list-item {
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  @include m.transition(all);
  // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  //   0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 70%);
    transform: scale(1.01);
  }
}

.project {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.project-img {
  aspect-ratio: 1.6;
}

.project-desc-wrap {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  padding: 2rem 2.4rem;
}

.project-title {
  margin-bottom: 1rem;
  @include m.font(18px, 600, 25px);
  text-align: center;
}

.project-description {
  margin-bottom: 0.8rem;
  @include m.font(16px, 400, 22px);
}
.project-stack {
  margin-bottom: 1rem;
  @include m.font(16px, 400, 22px);

  & span {
    font-weight: 600;
  }
}

.project-list {
  margin-top: auto;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.project-list-item {
  min-width: 135px;
}

.project-link {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.6rem;

  border-radius: 10px;
  background-color: var(--second-text-color);

  z-index: 1;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-525%, 0, 0) rotate(35deg);
  }

  &:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(450%, 0, 0) rotate(35deg);
  }

  &:hover {
    background-color: darken($color: #f5d6ab, $amount: 8);
  }

  & svg {
    margin-right: 0.3rem;
  }
}

// .project-img-wrap {
//   position: relative;
//   padding-bottom: 60%;
// }

// .project-img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
